@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  background-color: rgb(201, 201, 78);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
